<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>白1</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白2</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白3</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白4</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白5</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白6</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白7</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白8</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白9</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白10</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白11</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白12</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白13</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白14</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白15</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白16</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白17</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白1</string>
		<key>info</key>
		<dict>
			<key>name</key>
			<string>小红</string>
			<key>info</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
